h1 {
	font: lighter 20px Helvetica;
}

h2 {
    font: 20px Helvetica;
}

h3 {
    font: bold 24px Lucida Grande;
}


a:link  {
    color: #00CCFF; 
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #00CCFF;
    background-color: transparent;
    text-decoration: none;
}
a:hover   {
    color: #C8C6C6;
    background-color:transparent;
    text-decoration: none;
}
a:active  {
    color: #00CCFF;
    background-color:transparent;
    text-decoration: none;
}

.date {
    font: lighter 12px Helvetica;
    opacity: 0.5
}

.header-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	color: #FFFFFF;
	height: 200px;
	background-color: #00CCFF;	
}

.nav-main {
	text-align: center;
	height: 50px;
  	display: inline;
  	margin-top: 0;
  	margin-left: auto;
  	margin-right: auto;
  	list-style: none;
  	
}

.name-img {
	display: inline-block;
  	position: relative;
  	cursor: pointer;
  	float: left;
    margin: 80px 0;
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}

.name-text {
	font: lighter 26px Helvetica;
  	display: inline-block;
  	position: relative;
  	cursor: pointer;
  	float: left;
  	margin: 80px 20px;
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}

.nav-home {
	font: lighter 18px Helvetica;
  	display: inline-block;
  	position: relative;
  	height: 20px;
  	cursor: pointer;
  	float: right;
  	margin: 85px 0px;
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}

.nav-home:hover {
    color: #505050;
	height: 20px;
}

.header-dropdown {
	padding: 0;
	position: absolute;
  	top: 50px;
  	left: 0;
  	width: 167px;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
  	display: none;
  	opacity: 0;
  	visibility: hidden;	
}

.dropdown-home {
	font: lighter 20px Helvetica; 
  	background: #F0F0F0; 
  	display: block; 
	color: #505050 ;
	top: 0;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	text-align: justify;
	border-top-style: solid;
	border-width: thin;
	border-color: #505050 ;
}

.dropdown-home:hover { 
	top: 0;
	background: #505050 ;
	color: #FFFFFF;
}
ul li:hover ul {
  	display: block;
  	opacity: 1;
  	visibility: visible;
}

.inner-body {
    font: lighter 18px Helvetica;
	padding-top: 200px;
	color: #000000;
}

body {
    font: 16px Helvetica;
	background-color: #FFFFFF;
	height: 100%
}

.copyright {
    color: #999999;
}

#footer {
    font: lighter 16px Helvetica;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 0;
	left: 0;
	width: 100%;
	color: #FFFFFF;
	height: 250px;
	background-color: #505050;	
	clear: both;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}
