/******************** NAVIGATION *********************/
/*****************************************************/

* {
    margin: 0;
    padding: 0;
}

a:link  {
    color: #e0e0e0;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #e0e0e0;
    background-color: transparent;
    text-decoration: none;
}
a:hover   {
    color: #ffffff;
    background-color:transparent;
    text-decoration: none;
}
a:active  {
    color: #e0e0e0;
    background-color:transparent;
    text-decoration: none;
}

.open {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    transition: opacity 0.2s linear;
    z-index: 10;
}

.open:hover { opacity: 0.8; }

.open span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    background-color: #fff;
    position: absolute;
    right: 3px;
    top: 3px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.open span:nth-child(1) {
    margin-top: 10px;
    z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(38, 84, 133, 0.54);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden;
}

.sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
    color: #fff;
    font-family: SourceSansPro-Light, 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    float: left;
    line-height: 40px;
}

.oppenned .sub-menu {
    opacity: 1;
    height: 400px;
    width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
    z-index: 100;
    transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
    height: 400px;
    width: 400px;
    right: -160px;
    top: -160px;
    border-radius: 50%;
    background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }


/******************** FOOTER *********************/
/*************************************************/

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 100px;
}
#footer {
    font: lighter 16px SourceSansPro-Light, 'Lato', Arial, Helvetica, sans-serif;
    background-color: #161616;
    width: 100%;
}

#footer-content {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    font: lighter 16px SourceSansPro-Light, 'Lato', Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/******************** BODY *********************/
/***********************************************/

html {
    width: 100%;
    height: 100%;
}

body {
    background: #161616;
    width: 100%;
    height: 100%;
    font-family: SourceSansPro-Light, Arial, Helvetica, sans-serif;
    color: #fff;
}

#header {
    text-align: center;
    background-color: #161616;
    padding-top: 10px;
    margin: 0 auto;
    width: 100%;
    height: 150px;
    z-index: 5;
}

#inner-body {
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    font: lighter 22px SourceSansPro-Light, 'Lato', Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/******************** PROJECTS *********************/
/***************************************************/

#intro {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(38, 84, 133, 0.54);
    align-content: center;

}

#project-tabs {
    width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tab-content {
    height: 350px;
    text-align: left;
    border-radius: 25px;
    padding: 20px;
    color: #ffffff;
    background-color: #161616;
    border-color: #161616;
    font-size: 16px;
}

.nav-tabs {
    text-align: center;
    border-bottom:1px solid #161616;
    font-size: 18px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs>li>a:hover {
    background-color:#161616;
    border-color:#161616 #161616 #161616;
}
.nav-tabs>li.active>a {
    color: #ffffff;
    background-color:#161616;
    border-color:#161616 #161616 #161616;
}
.nav-tabs>li.active>a:focus {
    color: #ffffff;
    background-color:#161616;
    border-color:#161616 #161616 #161616;
}
.nav-tabs>li.active>a:hover {
    color:#ffffff;
    cursor:default;
    background-color:#161616;
    border:1px solid #161616;
    border-bottom-color:transparent;
}

/******************** DISQUS COMMENTS *********************/
/**********************************************************/

#comment-section {
    width: 100%;
    padding: 50px;
    height: auto;
}

#disqus_thread {
    margin: 0 auto;
    width: 800px;
    display: block;
}


/******************** RECENT BLOG POSTS *********************/
/************************************************************/

#recent-blog-posts {
    width: 100%;
    height: 500px;
    padding: 20px;
    color: #ffffff;
}

#read-more {
    width: 90px;
    height: 38px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border: solid;
    border-radius: 25px;
    border-color: #265485;
    font-size: 14px;
    color: #265485;
}

#read-more:hover {
    width: 90px;
    height: 38px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border: solid;
    border-radius: 25px;
    border-color: #ffffff;
    backgrund-color: #161616;
    color: #ffffff;
    cursor: pointer;
}

/******************** ABOUT ME *********************/
/***************************************************/

#about-me {
    width: 100%;
    padding: 20px;
    background-color: rgba(38, 84, 133, 0.54);
    align-content: center;
}


#about-me-content {
    height: 350px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
    font: lighter 21px SourceSansPro-Light, 'Lato', Arial, Helvetica, sans-serif;
    border: solid;
    border-radius: 25px;
    border-color: #161616;
    background-color: #161616;

}

/******************** BLOG PAGE *********************/
/****************************************************/

#blog-posts-list {
    width: 100%;
    padding: 20px;
    background-color: rgba(38, 84, 133, 0.54);
    align-content: center;
}

#blog-posts-list-content {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
}


/******************** GENERAL *********************/
/**************************************************/

#line {
    height: 3px;
    width: 100%;
    background-color: #161616;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    font: lighter 40px SourceSansPro-Light;
}

h2 {
    font: lighter 35px SourceSansPro-Light;
}

h3 {
    font: lighter 30px SourceSansPro-Light;
}

h4 {
    font: lighter 25px SourceSansPro-Light;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-width: 1px;
    border-color: #8c8c8c;
    width: 800px;

}

#date {
    font: lighter 12px Helvetica;
    opacity: 0.5
}
